/*NAVBAR*/


.navbar-logo {
    font-family: 'Yellowtail', cursive;
}
.topnav {
    position: absolute;
    
}
.navbar {
    position: relative;
    padding-bottom: 200px;
    margin-bottom: 200px;
}

.navbar-nav {
    margin-left: auto;
}

/*SPLASH*/

.splash {
    background-image: url('https://i.postimg.cc/Qxc4SNch/splash-img-tiny.jpg');
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    max-height: 100vh;
}
img {
    object-fit: cover;
}
.container {
position: absolute;
  margin: 20px;
  width: auto;
}
.welcome-heading {
    position: relative;
    padding: 1150px 0 ;
}


/*GLOBAL*/

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*, *::before, *::after {
    box-sizing: border-box;
}
body {
    font-family: 'Inconsolata', monospace;
    margin: 0;
    background: #fff;
    font-size: 16px;
    line-height: 1.7;
    color: grey;    
    text-align: center;
}
.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}
section {
    padding: 96px 0;
}
